[DEFAULT]
[api]
auth_strategy = keystone
[cors]
[keystone_authtoken]
auth_url = http://{{ controller_ip }}:5000/v3
memcached_servers = {{ controller_ip }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = placement
password = {{ PLACEMENT_PASS }}
[oslo_policy]
[placement]
[placement_database]
connection = mysql+pymysql://placement:{{ PLACEMENT_DBPASS }}@{{ controller_ip }}/placement
[profiler]
